
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hall-form-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.hall-form-container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border: 5px solid #ffb43a;
    border-radius: 5px;
}

.hall-form-container .hall-form-title {
    font-size: 25px;
    font-weight: 500;

}

.hall-form-container .hall-form-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 12px 0;
}

.hall-form-form .hall-form-group {
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

.hall-form-form .half-form-button {
    width: 49%;
    height: 40px;
    margin: 40px 0;
}

.hall-form-form .half-form-button input {
    width: 100%;
    height: 90%;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #ffb43a;
    border: 5px solid #ffb43a;
    border-radius: 5px;

}